<div class="container main_count">
    <div class="main_remen top">影片排行榜</div>
    
    <div class="type">类型：
		<a ui-sref="aiqing" ui-sref-active="aa">爱情</a><!--在这用路由-->
		<a ui-sref="xiju" ui-sref-active="aa">喜剧</a>
		<a ui-sref="dongzuo" ui-sref-active="aa">动作</a>
		<a ui-sref="juqing" ui-sref-active="aa">剧情</a>
		<a ui-sref="kehuan" ui-sref-active="aa">科幻</a>
		<a ui-sref="kongbu" ui-sref-active="aa">恐怖</a>
		                  
       </div>
   <ren-men ui-sref="info({id:v.id})"  ng-repeat="v in data" for-image="{{v.image}}" for-name="{{v.name}}" for-year="{{v.year}}" for-type="{{v.type}}" >

    </ren-men>			
</div>