<div class="container main_count">
    <div class="main_remen top">热门影片</div>

  <ren-men ui-sref="info({id:v.id})"  ng-repeat="v in data" for-image="{{v.image}}" for-name="{{v.name}}" for-year="{{v.year}}" for-type="{{v.type}}" >

    </ren-men>			
</div>
















<!--



<div class="container">
    <div class="biaoti clearfix">
        <div></div>
        <span>搜素的内容</span>
    </div>
    <div class="row content_video text-center">
        <image-list ng-repeat="v in data" for-image="{{v.image}}" for-name="{{v.name}}" for-year="{{v.year}}" ui-sref="info({id:v.id})" >
        </image-list>
    </div>
</div>-->