<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	</head>

	<body>

		<header class="mui-bar mui-bar-header" style="top:0px">

			<!--tab选项卡的样式-->
			<!--实现滑动的方法-->
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<a class="mui-control-item">
						关注
					</a>
					<a class="mui-control-item">
						推荐
					</a>
					<a class="mui-control-item">
						视频
					</a>
					<a class="mui-control-item">
						直播
					</a>
					<a class="mui-control-item">
						图片
					</a>
					<a class="mui-control-item">
						段子
					</a>
					<a class="mui-control-item">
						游戏
					</a>
					<a class="mui-control-item">
						精华
					</a>
				</div>
			</div>
		</header>
	
		<div class="mui-card" style="top:45px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					小M
					<p>发表于 2016-06-30 15:30</p>
				</div>
				</div>
			</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="../images/3.jpg" />
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">页脚</div>
		</div>
		<div class="mui-card" style="top: 50px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					小M
					<p>发表于 2016-06-30 15:30</p>
				</div>
			</div>
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="../images/1.jpg" />
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">页脚</div>
		</div>
		<div class="mui-card" style="top: 50px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					小M
					<p>发表于 2016-06-30 15:30</p>
				</div>
			</div>
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="../images/3.jpg" />
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">页脚</div>
		</div>
		<div class="mui-card" style="top: 50px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="mui-card-header mui-card-media">
				<img src="../images/10.png" />
				<div class="mui-media-body">
					小M
					<p>发表于 2016-06-30 15:30</p>
				</div>
			</div>
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="../images/4.jpg" />
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">页脚</div>
		</div>
		<div class="mui-card" style="top: 50px;">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="mui-card-header mui-card-media">
				<img src="../images/10.png" />
				<div class="mui-media-body">
					小M
					<p>发表于 2016-06-30 15:30</p>
				</div>
			</div>
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="../images/2.jpg" />
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">页脚</div>
	
		
</div>
	</body>

</html>
<script type="text/javascript" charset="utf-8">
	//mui的初始化，做mui的配置项，每个窗口必须存在
	mui.init();
</script>