<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	</head>
<style>
	.text{
		 width:210px;
		 text-overflow: ellipsis;	
		 overflow: hidden;	
		 white-space: nowrap;
	}
</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">关注</h1>
		</header>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					早晚必读的话
					<p class="text">清晨，伴你从睡梦中醒来；深夜，陪你安然入睡</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					古色古风
					<p class="text">古风小说、美图、诗词等佳作，愿与君共赏。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					最美的祝愿
					<p class="text">最美的时光，许下最美的祝福。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					我的前半生
					<p class="text">天无绝人之路，既然早晚要重新开始，就该从眼下开始，争分夺秒。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					致未来的自己
					<p class="text">一路有你，才成为最好的自己。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					闲人诗社
					<p class="text">一想两三天，吟得四五句；修改六七次，八九十人黑。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					图写心情
					<p class="text">一段美文，一副美图，愉悦你的眼，温暖你的心！</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					最美的祝愿
					<p class="text">最美的时光，许下最美的祝福。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					我的前半生
					<p class="text">天无绝人之路，既然早晚要重新开始，就该从眼下开始，争分夺秒。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					致未来的自己
					<p class="text">一路有你，才成为最好的自己。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					闲人诗社
					<p class="text">一想两三天，吟得四五句；修改六七次，八九十人黑。</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
		<div class="mui-card-header" style="top: 50px; left: -16px;">
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					图写心情
					<p class="text">一段美文，一副美图，愉悦你的眼，温暖你的心！</p>
				</div>
			</div>
			<button type="button" class="mui-btn mui-icon mui-icon-plusempty">关注</button>
		</div>
	</body>

</html>
<script type="text/javascript" charset="utf-8">
	//mui的初始化，做mui的配置项，每个窗口必须存在
	mui.init();
</script>