<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
</head>
<body>
	<div class="mui-card-header" >
			<div class="mui-card-header mui-card-media">
				<img src="../images/3.jpg" />
				<div class="mui-media-body">
					
					<h3 style="color: red;">立即登录</h3>
				</div>
			</div>
			
		</div>
		
		
		

			<!--tab选项卡的样式-->
			<!--实现滑动的方法-->
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<a class="mui-control-item">
						关注
					</a>
					<a class="mui-control-item">
						推荐
					</a>
					<a class="mui-control-item">
						视频
					</a>
					<a class="mui-control-item">
						直播
					</a>
					<a class="mui-control-item">
						图片
					</a>
				
				</div>
			</div>
			<div class="mui-content">
    <div class="mui-row" >
      
        </div>
        <div class="mui-col-sm-6">
            <li class="mui-table-view-cell"  style="list-style-type: none;">
               
                <a class="mui-navigate-right" style="margin-top: 20px;" >
                   <span>我的投稿</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的消息</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的收藏</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的游戏</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>我的钱包</span>
                </a>
                 <a class="mui-navigate-right" style="margin-top: 20px;">
                   <span>设置</span>
                </a>
            </li>
        </div>
    </div>
</div>
			
		
</body>
</html>
<script type="text/javascript" charset="utf-8">
		//mui的初始化，做mui的配置项，每个窗口必须存在
      	mui.init();
</script>