*{
	margin: 0 auto;
	
}
#hearder-box{
	width: 100%;
	background: white;
	position: fixed;
    top: 0px;
    z-index: 999;
}

#header{
	width:1248px;
	height: 70px;
	background: white;
	position: relative;
	
}
.box-left{
	width: 50%;
	height: 50px;

	float: left;
}
.box-right{
	width: 40%;
	height: 50px;
	/*height: 50px;*/
	float: right;
	
/*background-color: salmon;*/
}
.box-right a {
	margin-top: 30px;
	color: black;
	text-decoration: none;
	margin-right:20px;
	display: block;
	float: right;

	display: inline-block;
	font-size:16px ;
	
}
.box-left a {
	
	margin-top: 30px;

	height: 28px;
	color:black;
	text-decoration: none;
	margin-left: 20px;
	display: block;
	float: left;
	font-size:16px ;

}
.box-left .img1 {
margin-top: -8px;
	width: 100px;
	height:40px;

}
.box-left .tu{
	width: 50px;
	background-image: url(../img/menu_sprite.svg);
	background-position: 0px 230px;
	
}
.box-left .tu:hover{
	width: 50px;
	background-image: url(../img/menu_sprite.svg);
	background-position: 50px 1020px;
}




.box-right .right_a1 {
	border: 1px solid white;
}

.box-right .right_a1:hover {
	background: white;
	color: black;
}

.box-right .right_a2 {
	border: 1px solid #C90000;
	background: #C90000;
}

.box-right .right_a2:hover {
	background: #da0000;
}



.clearbox:after {
	content: "";
	height: 0px;
	line-height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}

/*#counter-img{
	width: 1248px;
	height: 180px;
	background-color: saddlebrown;
	
}*/
.box-left-input{
	width: 500px;
	height: 30px;
	background-color: #FAFAFA;
	margin-left: 570px;
	position: absolute;
	right: 260px;
	top:20px;
	outline: none;
	 
} 

.box-left-input-img{
	display: block;
	width: 22px;
	height: 22px;
	/*background-color: red;*/
	background-image: url(../img/menu_sprite.svg);
	background-position:50px -98px ;
	position: absolute;
	top:28px;
	left: 960px;

}


.clearbox:after {
	content: "";
	height: 0px;
	line-height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}



/*底部*/
/*底部*/

.footer-box {
	margin-bottom: 0px;
	width: 100%;
	height: 200px;
	background: #333333;
	padding-top: 32px;
	margin: 0 auto;
	margin-bottom: 0px;
}

.footer-box .links {
	width: 1050px;
	margin: 0 auto;
}

.footer-box .links div {
	float: left;
	margin-right: 106px;
}

.footer-box .links .link a {
	text-decoration: none;
	font-size: 14.4px;
	color: #BDB8B8;
	line-height: 42px;
	display: block;
}

.footer-box .links .follow {
	font-size: 14.4px;
	color: #BDB8B8;
	margin-left: 750px;
	margin-top: -115px;
}






/*中部*/
#zongde{
	width: 100%;
	margin: 0 auto;
	margin-top: 130px;
}
#count-box{
	width: 100%;
	max-width: 1248px;
	height: 900px
}

.count-box-left{
	width:740px;
	height: 850px;
	background: #FFFFFF;
	float: left;
		box-shadow: 2px 2px 5px 2px gainsboro,-2px -2px 5px 2px gainsboro;

}
.count-box-left-img{
	width: 440px;
	height:700px;
	overflow: hidden;
	margin-left: 150px;
}
.count-box-left-img>img
{
    width: 100%;
    height: 100%;
}
.count-box-right{
	width:450px ;
	height: 800px;
	background-color: #FFFFFF;
	float: right;
	box-shadow: 2px 2px 5px 2px gainsboro,-2px -2px 5px 2px gainsboro;
	/*css3设置阴影属性*/
}
.count-box-left-input1,.count-box-left-inputt
{	
	border-radius:6px ;
	background-color:#D44D4E ;
	width: 60px;
	height: 25px;
	color: white;
	outline:none;
}
.count-box-left-input1{
	margin-top: 40px;
	margin-left: 20px;
}

.count-box-left-inputt{
	float: right;
	margin-top:40px ;
	margin-right: 20px;
}
.count-box-right-yi.count-box-right-er..count-box-right-san{
	width: 350px;
}
.count-box-right-yi
{
	height: 130px;
	background-color: white;
}
.count-box-right-er
{
	height: 215px;
	background-color: white;
}
.count-box-right-san{
		height: 300px;
	background-color: white;
}



.count-box-right-yi{
	position: relative;
}
.count-box-right-yi-left{
	overflow: hidden;
/*	background-position:center center;*/
	width: 84px;
	height: 84px;
	background-color: white;
	position: absolute;
	top:23px ;
	left: 60px;
}
.count-box-right-yi-left-a>img{
    width: 100%;
    height: 100%;
}



.count-box-right-yi-right{

position: absolute;
top: 40px;
left: 180px;
}
.count-box-right-er-1{
	width: 90%;
	height:90%;
	margin: 0 auto;
	background-color:#FAFAFA;
	position: relative;
}
.count-box-right-er-1-img>img{
	width: 100%;
	height: 100%;
}
.count-box-right-er-1-img{
	overflow: hidden;
	width: 40px;
	height: 60px;
	background-color: skyblue;
	position: absolute;
	top:25px;
	left: 30px;
	
	/*margin-top: 100px;*/
}
.count-box-right-er-1>span{
	position: absolute;
	top: 38px;
	left: 100px;
}
.count-box-right-er-1>a{
	color: slategray;
	position: absolute;
	top: 38px;
	left: 300px;
}
.count-box-right-er-1-pinglun{
	width: 85%;
	height: 46px;
	background-color: white;
	position: absolute;
	top: 112px;
	left: 30px;
}


/*.count-box-right-er-1-pinglun input{
	width: 87%;
	height: 60px;
	
}*/






.count-box-right-san-a{
	font-size:30px ;
	margin-left: 200px;
	
}
.count-box-right-san-text{
	width: 300px;
	height: 180px;
	margin-left: 70px;
	
	box-shadow: /*inherit*/ 2px 2px 5px 5px gainsboro,-2px -2px 5px 2px gainsboro;
	
	outline: none;
	
	
	
}
.count-box-right-san{
	position: absolute;
}
.count-box-right-san-tijiao{
	border-radius: 6px;
	background-color: #D44D4E;
	width: 70px;
	height: 30px;
	position: relative;
	top: 40px;
	right: 190px;
}






.box-rightphp{
	width: 40%;
	height: 50px;
	
	float: right;
	

}
.box-rightphp a {
	margin-top: 30px;
	color: black;
	text-decoration: none;
	margin-right:20px;
	display: block;
	float: right;

	display: inline-block;
	font-size:16px ;
	
}



.right_a1php{
	display: inline-block;
	width: 40px;
	height:40px;
	border-radius:20px ;
	background-color: red;
	overflow: hidden;
	margin-left: 267px;
	margin-top: 22px;
}
.right_a1php>img{
	width: 100%;
	height: 100%;
}







/*下拉列表*/
.box-right-xialaphp{
	width: 140px;
	height: 190px;
	background: white;
/*	margin-left: 920px;*/
	/*margin-top: 100px;*/

	display: none;

}

.box-right-xialaphp>img{
	width: 35px;
	height: 35px;
	margin-top: 20px;
	margin-left: 18px;
}

.box-rightphp:hover .box-right-xialaphp{
	display: block;
}



